@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Workshop</h1>
    <p>Built by <a href="https://www.linkedin.com/in/ludwigj/">Ludwig</a></p>
    <h5>@TempData["Operation"]</h5>
</div>
